<%- include('partials/header'); -%>
<h1>About</h1>
<p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><%=about%></p>
<%- include('partials/footer'); -%>