<%- include('partials/header'); -%>
<h1>Developer Contact</h1>
<h6 style="margin-left: 3vw;">Name:-</h6>
<div style="margin-left: 3vw;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;">
    ashutosh
</div>
<h6 style="margin-left: 3vw;">Email:-</h6>
<div style="margin-left: 3vw;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;">
    ashutripathi733@gmail.com
</div>

<%- include('partials/footer'); -%>